@import 'header';
@import 'tabs';
@import 'variables';
@import 'card';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
}

.container {
  padding: 16px 16px;
  width: 100%;
}
