input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    border: 1px solid #EBEBEB;
  }
}

label {
  font-size: 12px;
}

textarea, trix-editor {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: 1px solid #EBEBEB;
  &.sm {
    min-height: 160px;
  }
}
