@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: $header-padding-y 16px;
  font-weight: bold;

  a {
    color: white;
  }

  a.header_loginBtn {
    background-color: $base-bg-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
    color: $primary-color;
  }

  &_logos {
    min-width: 0;
    display: flex;

    img {
      cursor: pointer;
      width: $back-icon-size;
      height: $back-icon-size;
      margin: ($avatar-size - $back-icon-size) / 2 8px 0;
    }
  }

  &_pageTitle {
    color: white;
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}
