@import 'variables';

.tabs {
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  justify-content: space-around;

  &_item {
    padding: 16px 0px;
    background-color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;

    a {
      display: block;
    }

    &.active {
      background-color: $primary-color;

      a {
        color: white;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
